:root {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --gradientColor: linear-gradient(to right , hsl(187, 85%, 43%) , hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --BlackColor: hsl(201, 33%, 16%);
  --textColor: hsl(240, 3%, 47%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(215, 215, 215);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.Home {
  width: 100%;
  height: 100vh; /* Set height to 100% of the viewport height */
  position: relative;
  display: flex;
  align-items: stretch; /* Stretch items vertically to fill the container */
  justify-content: stretch; /* Stretch items horizontally to fill the container */
  margin: auto;
}
.Home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Adjust the overlay color and transparency */
  z-index: 1;
}
.Home video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.Home .homeContent {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: auto;
  color: var(--whiteColor);
  z-index: 100;
}
.Home .homeContent .textDiv {
  padding: 1.5rem 2.5rem 3.5rem;
}
.Home .homeContent .textDiv .smallText {
  font-size: 15px;
  text-transform: uppercase;
}
.Home .homeContent .textDiv .homeTitle {
  position: relative;
  font-size: 37px;
  font-weight: 600;
}
.Home .cardDiv-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 65%;
  padding: 0.5rem 0 2.3rem 0rem;
  white-space: nowrap;
  background: var(--whiteColor);
  border-radius: 14px;
  margin: auto; /* Center horizontally */
}
.Home .cardDiv-grid label {
  display: block;
  color: var(--textColor);
  padding: 12px 0 8px;
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 500;
}
.Home .label-total-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Home .label-total-flex .total {
  font-weight: 600;
  color: var(--textColor);
  padding-bottom: 10px;
  color: var(--textColor);
  display: inline-block;
  transform: translateY(16px);
}
.Home .rangedesign {
  width: 50%;
  height: 1rem;
  border: 3px solid black;
  border-radius: 6px;
}
.Home .input-flex {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0rem 2rem;
  margin-top: 0.6rem;
  background: rgb(214, 214, 214);
  border-radius: 1rem;
}
.Home .input-flex input {
  background: none;
  border: none;
  outline: none;
  font-size: 13.5px;
  color: hsl(0, 0%, 48%);
  flex: 1; /* This makes the input take up the available space */
}
.Home .input-flex input::-moz-placeholder {
  font-size: 13.5px;
  color: hsl(0, 0%, 48%);
}
.Home .input-flex input::placeholder {
  font-size: 13.5px;
  color: hsl(0, 0%, 48%);
}
.Home .input-flex .icon {
  font-size: 17.5px;
  stroke-width: 0.5px;
  transform: translate(3px);
  color: black;
}
.Home .input-flex .input[type=range] {
  background: blue;
}
.Home .searchOption-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--gradientColor);
  width: -moz-max-content;
  width: max-content;
  bottom: 8.1rem;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  padding: 7px 1rem;
  border-radius: 4rem;
  left: 50%;
  transform: translate(-50%);
}
.Home .searchOption-flex:hover {
  background: var(--PrimaryColor);
}
.Home .searchOption-flex span {
  font-size: 14.5px;
  font-weight: 400;
}
.Home .searchOption-flex .icon {
  font-size: 17.5px;
}/*# sourceMappingURL=home.css.map */